{{- $profile := .Site.Params.home.profile -}}
<div class="home-profile">
    {{- $avatar := $profile.avatarURL -}}
    {{- with $profile.gravatarEmail -}}
        {{- $avatar = md5 . | printf "https://www.gravatar.com/avatar/%v?s=240&d=mp" -}}
    {{- end -}}
    {{- if $avatar -}}
        <div class="home-avatar">
            {{- $menus := $.Site.Menus.main | default slice -}}
            {{- with index $menus 0 -}}
                {{- $url := .URL | relLangURL -}}
                {{- with .Page -}}
                    {{- $url = .RelPermalink -}}
                {{- end -}}
                <a href="{{ $url }}"{{ with .Title | default .Name }} title="{{ . }}"{{ end }}{{ if (urls.Parse $url).Host }} rel="noopener noreffer" target="_blank"{{ end }}>
                    {{- dict "Src" $avatar | partial "plugin/img.html" -}}
                </a>
            {{- else -}}
                {{- dict "Src" $avatar | partial "plugin/img.html" -}}
            {{- end -}}
        </div>
    {{- end -}}

    {{- with $profile.title -}}
        <h1 class="home-title">
            {{- . | safeHTML -}}
        </h1>
    {{- end -}}

    {{- with $profile.subtitle -}}
        <div class="home-subtitle">
            {{- if $profile.typeit -}}
                {{- $id := dict "Content" . "Scratch" $.Scratch | partial "function/id.html" -}}
                <div id="{{ $id }}" class="typeit"></div>
                {{- dict $id (slice $id) | dict "typeitMap" | merge ($.Scratch.Get "this") | $.Scratch.Set "this" -}}
            {{- else -}}
                {{- . | safeHTML -}}
            {{- end -}}
        </div>
    {{- end -}}

    {{- if $profile.social -}}
        <div class="links">
            {{- $socialMap := resources.Get "data/social.yml" | transform.Unmarshal -}}
            {{- $socialArr := slice -}}
            {{- range $key, $value := .Site.Params.social -}}
                {{- $social := $key | lower | index $socialMap | default dict -}}
                {{- if $value -}}
                    {{- if reflect.IsMap $value -}}
                        {{- with $value.weight -}}
                            {{- $social = dict "Weight" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.prefix -}}
                            {{- $social = dict "Prefix" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.template -}}
                            {{- $social = dict "Template" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.id -}}
                            {{- $social = dict "Id" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.url -}}
                            {{- $social = dict "Url" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.title -}}
                            {{- $social = dict "Title" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.newtab -}}
                            {{- $social = dict "Newtab" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.icon -}}
                            {{- $social = dict "Icon" . | merge $social -}}
                        {{- end -}}
                        {{- with $value.rel -}}
                            {{- $social = dict "Rel" . | merge $social -}}
                        {{- end -}}
                    {{- else if ne $value true -}}
                        {{- $social = dict "Id" $value | merge $social -}}
                    {{- end -}}
                    {{- if $social.Icon.Simpleicons -}}
                        {{- $prefix := ($.Scratch.Get "cdn" | default dict).simpleIconsPrefix -}}
                        {{- $social = dict "Prefix" $prefix | dict "Icon" | merge $social -}}
                    {{- end -}}
                    {{- $socialArr = $socialArr | append $social -}}
                {{- end -}}
            {{- end -}}
            {{- range sort $socialArr "Weight" -}}
                {{- partial "plugin/social.html" . -}}
            {{- end -}}
        </div>
    {{- end -}}

    {{- with $profile.disclaimer -}}
        <h3 class="home-disclaimer">
            {{- . | safeHTML -}}
        </h3>
    {{- end -}}


    {{ $scratch := newScratch }}
    {{ range (where .Site.RegularPages "Type" "in" (slice "posts")) }}
        {{ $scratch.Add "wordcount" .WordCount }}
    {{ end }}

    <hr style="margin:40px 0; border: 0; height: 2px; background-image: linear-gradient(to right, transparent, #CCC, transparent);">
    <div id ="dashboard" style=" font-size: 14px; text-shadow: 1px 1px #b1b1b133; font-weight: 200;font-style: oblique;text-transform: lowercase;color: #ccc;">
        <div id="line1" style="display: flex; flex-direction: row; flex-wrap: wrap; align-content: flex-start">
            <div style="text-align: left; width: 50%; display: inline-block;letter-spacing: normal;word-spacing: normal;vertical-align: top;">Articles: {{ len (where .Site.RegularPages "Section" "!=" "") }}</div>
            <div style="text-align: right; width: 50%;display: inline-block;letter-spacing: normal;word-spacing: normal;vertical-align: top;">Words: {{ $scratch.Get "wordcount" | lang.NumFmt 0 }}</div>
        </div>
    </div>
</div>
